.navbar-brand {
    font-size: 2rem;
    color: var(--text-color);
}

.nav-link {
    font-size: 1.3rem;
    color: var(--text-color);
    transition: color 0.2s ease;

    &:hover {
        color: var(--nav-hover-color);
    }
}

.navbar-toggler-icon {
    height: 2em;
}